<h3>
  {{question.title}}
</h3>
<h5>
  {{question.question}}
</h5>
<div
  *ngFor="let choice of question.choices"
  class="form-check success"
     [ngClass]="{'bg-success':
        grading &&
        question.correct === choice,
        'bg-danger':
        grading &&
        question.answer === choice &&
        question.correct !== choice}">
  <input class="form-check-input"
         type="radio"
         value="{{choice}}"
         name="{{question.title}}"
         (change)="select($event)"/>
  {{choice}}
  <i class="fa fa-check float-right"
     [hidden]="!(grading && question.correct == choice)"></i>
  <i class="fa fa-times float-right"
     [hidden]="!(grading && question.correct !== choice &&
     question.answer === choice)"></i>
</div>


<button class="btn btn-primary" (click)="grade()">
  Grade
</button>
